/*
	COPYRIGHTS
*/

.copyright {
  font-weight: 200;
  text-align: center;
  position: relative;
  min-width: 320px;
  margin-top: -$copyright-height;
  padding: 12px 0;

  &__name {
    display: block;

    @include from_768 {
      display: inline;

      &:after {
        content: " | ";
      }

    }

  }

  &__create {

    &:after {
      content: " | ";
    }

  }

}