/*
	COPYRIGHTS
*/

.copyrights {
  margin: -$copyright-height 0 0;
  font-weight: 200;
  text-align: center;
  position: relative;
  min-width: 320px;

  &__name {
    display: block;

    @include from_768 {
      display: inline;

      &:after {
        content: " | ";
      }

    }

  }

  &__create {

    &:after {
      content: " | ";
    }

  }

}