/*
  FOOTER
*/

.footer {
  display: none;
  text-align: center;
  position: relative;
  min-width: 320px;
  width: 100%;

  &__inner {
    padding: 17px 10px 8px;
    background: rgba(#1c1f29, 0.85);
    @include from_768() {
      padding: 26px 22px 8px;
    }
    @include from_1200() {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  &__text {
    font-weight: 200;
    text-align: center;
    line-height: 1.6;
    border-bottom: 1px solid #65666d;
    padding: 0 0 13px 0;
    @include from_1200() {
      float: left;
      border-bottom: 0;
      border-right: 1px solid #65666d;
      width: 34%;
      padding: 0 9% 13px 0;
      text-align: left;
      min-height: 99px;
    }
  }

  &__info {
    @include from_768() {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    @include from_1200() {
      float: left;
      width: 66%;
    }
    &-wrap {
      @include from_768() {
        float: left;
      }
      @include from_1200() {
        width: 62%;
        border-right: 1px solid #65666d;
        padding: 0 0 0 30px;
      }
    }
  }

  &__menu {
    padding: 17px 0 0 0;
    margin: 0 0 16px 0;
    @include from_768() {
      text-align: left;
    }
    @include from_1200() {
      padding: 0;
      margin-bottom: 47px;
    }
    &-item {
      @include inlineblock();
      font-weight: 500;
      @include from_768() {
        margin-right: 18px;
      }
      @include from_1200() {
        margin-right: 25px;
      }
    }
    &-link {
      color: #fff;
      text-decoration: none;
      padding: 5px 4px;
    }
  }

  &__social.social {
    margin-bottom: 17px;
    border-bottom: 1px solid #65666d;
    padding-bottom: 13px;
    @include from_768() {
      text-align: left;
      border-bottom: none;
    }
    @include from_1200() {
      padding: 0;
      margin: 0;
    }
    & svg {
      fill: #9e9fa3;
    }
  }

  &__contacts {
    @include from_768() {
      float: right;
      padding: 15px 0 10px;
      text-align: right;
    }
    @include from_1200() {
      float: left;
      padding: 0 0 0 27px;
      text-align: left;
    }
    &-item {
      margin-bottom: 7px;
    }
    &-link {
      color: #fff;
      text-decoration: none;
    }
  }

  &__copyright.copyright {
    background: rgba(#2667d8, 0.85);
    margin-top: 0;
  }

}