/*
  HEADER
*/

.header {
  height: 100vh;
  min-height: 460px;
  background: #f9f8f0 url("../img/design/night_no_bg.jpg") no-repeat center bottom;
  background-size: cover;
  position: relative;
  transition: transform $transition;

  &__top {
    @extend %clearfix;
    padding: 10px 12px;

    @include from_768 {
      padding: 25px 30px;
    }
  }

  &__social.social {
    float: left;
    margin: 0;

    & .social__item {
      margin: 0 25px 0 0;
      width: 23px;

      @include from_768 {
        width: 30px;
      }

    }

    & svg {
      fill: #fff;
    }

    & .social__link:hover svg {
      fill: #2d47ce;
    }

  }

  &_dark {
    min-height: 600px;

    .header__user.user {
      transform: translate3d(-50%, -50%, 0);
    }

    .header__button {
      bottom: 30%;
    }
  }

  &__menu {
    background: none;
    border: none;
    float: right;
    width: 26px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 5;
    transition: all $transition;

    @include from_768 {
      width: 40px;
      height: 45px;
    }

    &-line {
      height: 3px;
      background: #fff;
      margin-bottom: 7px;
      border-radius: 5px;
      transition: all $transition;

      &:last-child {
        margin-bottom: 0;
      }

      @include from_768 {
        height: 6px;
        margin-bottom: 9px;
      }

    }

    &_active {
      position: fixed;
      right: 12px;
      top: 10px;

      @include from_768 {
        right: 30px;
        top: 25px;
      }

      .header__menu-line {

        &:nth-child(1) {
          transform: translate3d(0, 10px, 0) rotate(45deg);

          @include from_768 {
            transform: translate3d(0, 15px, 0) rotate(45deg);
          }

        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate3d(0, -10px, 0) rotate(-45deg);

          @include from_768 {
            transform: translate3d(0, -15px, 0) rotate(-45deg);
          }

        }

      }

    }

  }

  &__user.user {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 25px 0 0 0;
    transform: translate3d(-50%, -50%, 0);

    @include from_1200 {
      width: 500px;
      padding: 35px 0 0 0;
    }

    & .user {
      &__headline {

        &_blog {
          font-family: $sansus-regular;
          font-size: 35px;
          text-transform: uppercase;

          @include from_768 {
            font-size: 49px;
          }

          @include from_1200 {
            font-size: 63px;
          }

        }

      }
    }

  }

  &__bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    &-bg {
      fill: #faf8f0;
      display: block;
      width: 100%;
      &_left {
        width: 50%;
        left: 0;
      }
      &_right {
        width: 50%;
        right: 0;
      }
    }
    &_dark {
      & .header__bottom-bg {
        fill: #0d1120;
      }
    }
    &_double {
      .header__bottom-bg {
        fill: #f2f0e8;
        & use:nth-of-type(2) {
          @include from_1200 {
            fill: #f4f5f0;
          }
        }
      }
    }
  }

  &__button {
    width: 26px;
    height: 16px;
    background: none;
    cursor: pointer;
    border: none;
    display: block;
    padding: 0;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: auto;
    z-index: 1;
    &-bg {
      fill: #f4f5f0;
      width: 100%;
      height: 100%;
    }
  }

  &_slide-right {
    transform: translate3d(90%, 0, 0);
  }

}