/*
  SOCIAL
*/

.social {
  text-align: center;
  margin-bottom: 34px;

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    width: 26px;
    transition: width $transition;
  }

  &__link {
    display: block;
    text-decoration: none;
    &:hover .social__icon {
      fill: #004cd1;
    }
  }

  &__icon {
    fill: #0a44aa;
    transition: fill $transition;
    width: 100%;
    height: 26px;
  }

  &__title {
    display: none;
  }

}