/*
  WORKS
*/

.works {

  &__inner {
    @include from_1200 {
      @include clearfix;
      position: relative;
    }
  }

  &__preview {
    background: #e3e2de;
    padding: 50px 0;
    &-inner {
      width: 240px;
      margin: 0 auto;
      transition: width $transition;
      padding: 0;
      @include from_768 {
        width: 560px;
      }
    }
    &-item {
      display: none;
      opacity: 0;
      transition: opacity $transition;
      &_active {
        display: block;
        opacity: 1;
      }
    }
    &-img {
      max-width: 100%;
    }
    @include from_1200 {
      float: right;
      width: 50%;
    }
  }

  &__info {
    padding: 30px 0;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    @include from_768 {
      padding: 60px 0;
      width: 480px;
    }
    &-headline {
      @include from_768 {
        max-width: 100%;
      }
    }
    @include from_1200 {
      float: left;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-inner {
      margin: 0;
      padding: 0;
      @include from_1200 {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }
    }
    &-item {
      display: none;
      opacity: 0;
      transition: opacity $transition;
      &_active {
        display: block;
        opacity: 1;
      }
    }
  }

  &__tags {
    color: #243994;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    @include from_768 {
      margin-bottom: 30px;
    }
    @include from_1200 {
      margin-bottom: 60px;
    }
  }

  &__site-link {
    padding: 10px 20px;
    background: #004cd1;
    transition: all $transition;
    @include inlineblock(top);
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    &-ico {
      height: 20px;
      width: 20px;
      margin-right: 12px;
      @include inlineblock();
    }
    &-svg {
      fill: #fff;
      height: 100%;
      width: 100%;
    }
    &-text {
      @include inlineblock();
    }
    &:hover {
      opacity: .7;
    }
  }

  &__btns {
    clear: both;
    height: 150px;
    @include clearfix;
    @include from_768 {
      height: 280px;
    }
    @include from_1200 {
      width: 50%;
      height: 240px;
      float: right;
    }
    @include from_1800 {
      height: 330px;
    }
  }

  &__btn {
    float: left;
    width: 50%;
    padding: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    &-img {
      height: 100%;
      width: auto;
      padding: 30px 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    &_down {
      background: #bdbec6;
      .works__btn-link {
        background: rgba(#bdbec6, 0.5);
      }
    }
    &_up {
      background: #94949c;
      .works__btn-link {
        background: rgba(#94949c, 0.5);
      }
    }
    &-link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 3;
      &:hover .works__btn-svg {
        filter: drop-shadow(0px 15px 5px #000);
      }
    }
    &-svg {
      transition: filter $transition;
      filter: drop-shadow(0px 5px 5px #000);
      fill: #fff;
      width: 100%;
      height: 100%;
    }
    &-ico {
      width: 50px;
      height: 36px;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &-item {
      height: 100%;
      width: 100%;
      position: absolute;
      top: -100%;
      left: 0;
      transition: all $transition;
      background: #fff;
      z-index: 1;
      &_active {
        z-index: 2;
        top: 0;
      }
      &_anim {
        animation: slideDownUp $transition;
      }
    }

    &_up {
      & .works__btn-item {
        top: 100%;
      }
      & .works__btn-item_active {
        top: 0;
      }
      & .works__btn-item_anim {
        animation: slideUpDown $transition;
      }
    }

  }

  @keyframes slideDownUp {

    0% {
      top: 0;
    }

    100% {
      top: 100%;
    }

  }

  @keyframes slideUpDown {

    0% {
      top: 0;
    }

    100% {
      top: -100%;
    }

  }

  &__about {
    background-color: #120d14;
    background-image: url("../img/design/works_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    padding: 30px 0 400px 0;
    @include from_768 {
      padding: 30px 0 300px 0;
    }
  }

  &__quotes {
    @include from_768 {
      @include clearfix;
    }
    @include from_1200 {
      width: 800px;
      margin: 0 auto;
    }
  }

  &__quote {
    padding: 0 20px 40px 0;
    @include from_768 {
      min-height: 250px;
      float: left;
      width: 50%;
      padding: 0 40px 20px;
    }
    @include from_1200 {
      padding: 0 15px 20px;
    }
    &-img {
      max-width: 100%;
      &-wrap {
        height: 52px;
        width: 52px;
        margin: 0 auto 20px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    &-text {
      font-style: italic;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
    }
    &-svg {
      fill-rule: evenodd;
      fill: #272b32;
      width: 80px;
      height: 70px;
      position: absolute;
      top: -45px;
      left: -10px;
      opacity: 0.85;
    }
    &-name {
      text-align: center;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &-title {
      text-align: center;
      font-style: italic;
    }
  }

  &__blockquote {
    display: block;
    position: relative;
  }

  &__headline-small {
    color: #fff;
    margin-bottom: 20px;
    &:after {
      background: #878684;
    }
  }

  &__form {
    width: 300px;
    height: 470px;
    margin: 0 auto 50px;
    padding: 40px 20px 20px;
    position: relative;
    @include from_768 {
      //width: 350px;
      width: 600px;
    }
    @include from_1200 {
      width: 400px;
    }
  }

  &__blur {
    position: absolute;
    background-image: url("../img/design/works_bg.jpg");
    background-repeat:  no-repeat;
    background-position: center top;
    filter: blur(2px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

}