svg.header__bottom-bg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')

  polygon.header__bottom-bg-left(points='0,0   0,86   500.8,86   500.8,75.5')

  polygon.header__bottom-bg-right(points='1000,0   1000,86   500,86   500,75.5')