html {
  height: 100%;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

body {
  background: #faf8f0;
  font-size: 14px;
  height: 100%;
  color: #ffffff;
  font-family: $roboto;
  font-weight: normal;

  @include from_1200 {
    font-size: 16px;
  }

}

.wrapper {
  visibility: hidden;
  width: 100%;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  margin-bottom: -360px;
  @include from_768 {
    margin-bottom: -250px;
  }
  @include from_1200 {
    margin-bottom: -200px;
  }
}

.headline {
  font-size: 35px;
  font-family: $sansus-regular;
  transition: font-size $transition;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-bottom: 34px;
  position: relative;
  @include from_768 {
    font-size: 49px;
    position: relative;
  }
  @include from_1200 {
    font-size: 63px;
  }

  &__inner {
    @include from_768 {
      position: relative;
      z-index: 1;
    }
  }

  &__bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 100%;
  }

  &_light {
    color: #373e42;
    @include from_768 {
      padding: 45px 0;
      margin-bottom: 10px;
    }
    @include from_1200 {
      margin-bottom: 20px;
    }
    @include from_1800 {
      float: left;
      width: 48%;
    }
    & .headline__bg {
      display: none;
      @include from_768 {
        display: block;
        fill: #dfe0e5;
        stroke: #dfe0e5;
        transform: rotate(180deg);
        height: 100%;
      }
    }
  }

  &_dark {
    padding: 45px 0;
    color: #fff;
    margin-bottom: 0;
    background: rgba(#0d1120, 0.85);
    & .headline__bg {
      fill: #ffffff;
      stroke: #dfe0e5;
      transform: rotate(180deg);
      opacity: 0.20;
      height: 85%;
    }
  }

  &_simple {
    color: #fff;
    margin: 0 auto 40px;
    max-width: 300px;
    @include from_768 {
      max-width: 400px;
      padding: 50px 0;
    }
    @include from_1200 {
      padding: 60px 0;
    }
    & .headline__bg {
      fill: #ffffff;
      stroke: #dfe0e5;
      opacity: 0.20;
    }
  }

  &-small {
    color: #474b57;
    font-size: 21px;
    font-family: $sansus-regular;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 15px;
    max-width: 180px;
    transition: all $transition;
    @include from_768 {
      font-size: 30px;
      max-width: 250px;
    }
    @include from_1200 {
      font-size: 35px;
      min-width: 300px;
    }
    &:after {
      content: "";
      display: block;
      margin: 0 auto;
      height: 3px;
      width: 56px;
      background: #474b57;
      transition: width background $transition;
      margin-top: 15px;
      @include from_768 {
        background: #393e42;
        font-size: 90px;
      }
      @include from_1200 {
        background: #566358;
      }
    }
    &_large {
      font-size: 35px;
      @include from_768 {
        font-size: 30px;
      }
      @include from_1200 {
        font-size: 35px;
      }
    }
  }

  &__mini {
    color: #474b57;
    font-weight: 500;
    transition: font-size $transition;
    text-align: center;
    margin-bottom: 20px;
    @include from_768 {
      font-size: 20px;
    }
    @include from_1200 {
      font-size: 28px;
    }
  }

  &_large {
    font-size: 35px;
    @include from_768 {
      font-size: 49px;
      position: relative;
    }
    @include from_1200 {
      font-size: 63px;
    }
  }

}

.button-scrolltop {
  width: 30px;
  margin: 0 auto;
  display: block;
  transform: rotate(180deg);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 52, 104, 1);
  //background: url("../img/design/night_prel_bg.jpg") no-repeat center top/cover;
  z-index: 999;
  &__inner {
    width: 53px;
    height: 53px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    & svg {
      width: 100%;
      fill: #fff;
      stroke: #fff;
    }
  }

  &__percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__dot {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    animation: preloader 1s ease-in-out infinite;
  }

 }

@keyframes preloader {
  0% {
    transform: rotate(-45deg) translateX(36px);
  }
  100% {
    transform: rotate(315deg) translateX(36px);
  }
}