// BASE

@mixin inlineblock($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin placeholder($color: #000, $opacity: 1) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}

@function rem($px) {
  @return $px / 16px + 0rem;
}

// MEDIA

@mixin from_768() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin from_1200() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin from_1800() {
  @media screen and (min-width: 1800px) {
    @content;
  }
}