/*
  FONTS
*/

$roboto: "Roboto", sans-serif;

$sansus-regular: "Sansus Webissimo Regular";

/*
  BASE
*/

$transition: linear 0.25s;

$copyright-height: 58px;

$footer-height: 346px;
$footer-height-768: 230px;
$footer-height-1200: 183px;