extends ../layouts/layout.jade

block title
  title Обо мне

block content

  .wrapper

    nav.menu
      ul.menu__inner
        li.menu__item
          a.menu__link(href="works.html", title="Мои работы") Мои работы

        li.menu__item
          a.menu__link(href="blog.html", title="Блог") Блог

        li.menu__item.menu__item_active
          a.menu__link(href="about.html", title="Обо мне") Обо мне

        li.menu__item
          a.menu__link(href="index.html", title="Авторизация") Авторизация

    header.header

      .header__top
        ul.social.header__social
          li.social__item.social__item_vk
            a.social__link(href="#", title="Vkontakte", target="_blank")
              span.social__title Vkontakte
              include ../svg/vk.jade

          li.social__item.social__item_gh
            a.social__link(href="#", title="Github", target="_blank")
              span.social__title Github
              include ../svg/github.jade

          li.social__item.social__item_ig
            a.social__link(href="#", title="Instagram", target="_blank")
              span.social__title Instagram
              include ../svg/in.jade

        button.header__menu.js-menu-toggle
          .header__menu-line
          .header__menu-line
          .header__menu-line

      .header__user.user
        include ../svg/star1.jade

        .user__img-wrap
          img.user__img(src="img/design/avatar.jpg", alt="User")

        .user__headline Константин Давыдов
        .user__title Личный сайт веб разработчика

      button.header__button(type="button")
        include ../svg/arrow-down.jade

      .header__bottom.header__bottom_double
        include ../svg/header-bottom.jade

    .about
      .about__row
        .about__col.about__col_left
          .about__col-inner
            .headline.headline_dark
              .headline__inner Обо мне
              include ../svg/headline-bg

            .about__user
              .about__img-wrap
                img.about__img(src="img/design/photo.jpg", alt="Photo")
              .headline-small Кто Я
              .about__text
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .about__col.about__col_right
          .about__col-inner
            .headline-small Чем я могу быть вам полезен
            .about__text
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .headline__mini Frontend
              //
            .headline__mini Backend
              //
            .headline__mini WorkFlow
              //

      .about__contacts

        .about__contacts-list
          .headline-small.headline-small_large Контакты

          .about__list
            li.about__list-item
              .about__list-ico
                include ../svg/skype.jade
              a.about__list-link(href="", title="") skype_kdn

            li.about__list-item
              .about__list-ico
                include ../svg/mail.jade
              a.about__list-link(href="", title="") astahov@gmail.com

            li.about__list-item
              .about__list-ico
                include ../svg/phone.jade
              a.about__list-link(href="", title="") +7 931 200 93 24

            li.about__list-item
              .about__list-ico
                include ../svg/marker.jade
              a.about__list-link(href="", title="") Новосибирск, ул. Инская, д.14

        .about__map#map


  include ../common/footer.jade