extends ../layouts/layout.jade

block title
  title Обо мне

block content

  .wrapper.about

    nav.menu
      ul.menu__inner
        li.menu__item
          a.menu__link(href="works.html", title="Мои работы") Мои работы

        li.menu__item
          a.menu__link(href="blog.html", title="Блог") Блог

        li.menu__item.menu__item_active
          a.menu__link(href="about.html", title="Обо мне") Обо мне

        li.menu__item
          a.menu__link(href="index.html", title="Авторизация") Авторизация

    header.header

      .header__top
        ul.social.header__social
          li.social__item.social__item_vk
            a.social__link(href="#", title="Vkontakte", target="_blank")
              span.social__title Vkontakte
              include ../svg/vk.jade

          li.social__item.social__item_gh
            a.social__link(href="#", title="Github", target="_blank")
              span.social__title Github
              include ../svg/github.jade

          li.social__item.social__item_ig
            a.social__link(href="#", title="Instagram", target="_blank")
              span.social__title Instagram
              include ../svg/in.jade

        button.header__menu.js-menu-toggle
          .header__menu-line
          .header__menu-line
          .header__menu-line

      .header__user.user
        include ../svg/star1.jade

        .user__img-wrap
          img.user__img(src="img/design/avatar.jpg", alt="User")

        .user__headline Константин Давыдов
        .user__title Личный сайт веб разработчика

      button.header__button(type="button")
        include ../svg/arrow_down.jade

      .header__bottom.header__bottom_double
        include ../svg/header-bottom.jade

  include ../common/footer.jade