extends ../layouts/layout.jade

block title
  title Обо мне

block content

  include ../common/preloader.jade

  .wrapper

    nav.menu
      ul.menu__inner
        li.menu__item
          a.menu__link(href="works.html", title="Мои работы") Мои работы

        li.menu__item
          a.menu__link(href="blog.html", title="Блог") Блог

        li.menu__item.menu__item_active
          a.menu__link(href="about.html", title="Обо мне") Обо мне

        li.menu__item
          a.menu__link(href="index.html", title="Авторизация") Авторизация

    header.header

      .header__top
        ul.social.header__social
          li.social__item.social__item_vk
            a.social__link(href="#", title="Vkontakte" target="_blank")
              span.social__title Vkontakte
              svg.social__icon
                use(xlink:href='img/sprite.svg#vk')

          li.social__item.social__item_gh
            a.social__link(href="#", title="Github" target="_blank")
              span.social__title Github
              svg.social__icon
                use(xlink:href='img/sprite.svg#github')

          li.social__item.social__item_ig
            a.social__link(href="#", title="LinkedIn" target="_blank")
              span.social__title LinkedIn
              svg.social__icon
                use(xlink:href='img/sprite.svg#in')

        button.header__menu.js-menu-toggle
          .header__menu-line
          .header__menu-line
          .header__menu-line

      .header__user.user
        svg.user__svg
          use(xlink:href='img/sprite.svg#figure')

        .user__img-wrap
          img.user__img(src="img/design/avatar.jpg", alt="User")

        .user__headline Константин Давыдов
        .user__title Личный сайт веб разработчика

      button.header__button(type="button")
        svg.header__button-bg
          use(xlink:href='img/sprite.svg#arrow_down')

      .header__bottom.header__bottom_double
        svg.header__bottom-bg
          use(xlink:href='img/sprite.svg#header_bottom_left')
          use(xlink:href='img/sprite.svg#header_bottom_right')

    .about
      .about__row
        .about__col.about__col_left
          .about__col-inner
            .headline.headline_light
              .headline__inner Обо мне
              svg.headline__bg
                use(xlink:href='img/sprite.svg#figure_2')

            .about__user
              .about__img-wrap
                img.about__img(src="img/design/photo.jpg", alt="Photo")
              .headline-small Кто Я
              .about__text
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .about__col.about__col_right
          .about__col-inner
            .headline-small Чем я могу быть вам полезен
            .about__text
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .headline__mini Frontend
            ul.about__skills
              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 10px;')
                .about__skill-title HTML5

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 10px;')
                .about__skill-title CSS3

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 40px;')
                .about__skill-title JavaScript & jQuery

            .headline__mini Backend
            ul.about__skills
              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 300px;')
                .about__skill-title PHP

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 314px;')
                .about__skill-title mySQL

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 155px;')
                .about__skill-title Node.js & npm

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='', style='stroke-dashoffset: 314px;')
                .about__skill-title Monogo.db

            .headline__mini WorkFlow
            ul.about__skills
              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='133', style='stroke-dashoffset: 100px;')
                .about__skill-title Git

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='133', style='stroke-dashoffset: 80;')
                .about__skill-title Gulp

              li.about__skill
                svg.circle(viewbox='0 0 120 120')
                  circle.bottom(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314')
                  circle.cover(cx='60', cy='60', r='50', fill='none', stroke-dasharray='314', stroke-dashoffset='314', data-percentage='133', style='stroke-dashoffset: 30px;')
                .about__skill-title Bower

      .about__contacts

        .about__contacts-list
          .headline-small.headline-small_large Контакты

          .about__list
            li.about__list-item
              .about__list-ico
                svg.about__list-svg
                  use(xlink:href='img/sprite.svg#skype')
              a.about__list-link(href="", title="") skype_kdn

            li.about__list-item
              .about__list-ico
                svg.about__list-svg
                  use(xlink:href='img/sprite.svg#mail')
              a.about__list-link(href="", title="") astahov@gmail.com

            li.about__list-item
              .about__list-ico
                svg.about__list-svg
                  use(xlink:href='img/sprite.svg#phone')
              a.about__list-link(href="", title="") +7 931 200 93 24

            li.about__list-item
              .about__list-ico
                svg.about__list-svg
                  use(xlink:href='img/sprite.svg#marker')
              a.about__list-link(href="", title="") Новосибирск, ул. Инская, д.14

        .about__map#map


  include ../common/footer.jade



