extends ../layouts/layout.jade

block title
  title Блог

block content

  include ../common/preloader.jade

  .wrapper

    nav.menu
      ul.menu__inner
        li.menu__item
          a.menu__link(href="works.html", title="Мои работы") Мои работы

        li.menu__item.menu__item_active
          a.menu__link(href="blog.html", title="Блог") Блог

        li.menu__item
          a.menu__link(href="about.html", title="Обо мне") Обо мне

        li.menu__item
          a.menu__link(href="index.html", title="Авторизация") Авторизация

    header.header

      .header__top
        ul.social.header__social
          li.social__item.social__item_vk
            a.social__link(href="#", title="Vkontakte" target="_blank")
              span.social__title Vkontakte
              svg.social__icon
                use(xlink:href='img/sprite.svg#vk')

          li.social__item.social__item_gh
            a.social__link(href="#", title="Github" target="_blank")
              span.social__title Github
              svg.social__icon
                use(xlink:href='img/sprite.svg#github')

          li.social__item.social__item_ig
            a.social__link(href="#", title="LinkedIn" target="_blank")
              span.social__title LinkedIn
              svg.social__icon
                use(xlink:href='img/sprite.svg#in')

        button.header__menu.js-menu-toggle
          .header__menu-line
          .header__menu-line
          .header__menu-line

      .header__user.user
        svg.user__svg
          use(xlink:href='img/sprite.svg#figure')

        .user__img-wrap
          img.user__img(src="img/design/avatar.jpg", alt="User")

        .user__headline.user__headline_blog Блог
        .user__title Статьи, которые я написал

      button.header__button(type="button")
        svg.header__button-bg
          use(xlink:href='img/sprite.svg#arrow_down')

      .header__bottom
        svg.header__bottom-bg
          use(xlink:href='img/sprite.svg#header_bottom')

    .blog
      aside.blog__sidebar

        button.blog__sidebar-button.js-sidebar-toggle(type="button")

        ul.blog__menu
          li.blog__menu-item.blog__menu-item_active
            a.blog__menu-link(href="#", title="Самое важное в SASS") Самое важное в SASS
          li.blog__menu-item
            a.blog__menu-link(href="#", title="Приёмы в вёрстке, без которых не обходится ни один сайт") Приёмы в вёрстке, без которых не обходится ни один сайт
          li.blog__menu-item
            a.blog__menu-link(href="#", title="Самый необходимый набор Gulp плагинов") Самый необходимый набор Gulp плагинов
          li.blog__menu-item
            a.blog__menu-link(href="#", title="Почему я выбрал Jade") Почему я выбрал Jade

      .blog__content
        .blog__article
          .blog__headline Самое важно в SASS
          .blog__date 22 ноября 2016
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        .blog__article
          .blog__headline Самое важно в SASS
          .blog__date 22 ноября 2016
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

  include ../common/footer.jade