extends ../layouts/layout.jade

block title
  title Главная

block content

  .preloader
    .preloader__load-bar
    .preloader__inner
      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 53 53', enable-background='new 0 0 52.586 63.73', xml:space='preserve')
        circle.circle(fill='none', stroke-width='3', stroke-miterlimit='10', cx='26.293', cy='26.438', r='25')
      .preloader__percent 0
      .preloader__dot

  .wrapper.welcome

    .welcome__btn-wrap
      a.welcome__btn(href="javascript:void(0)", title="Авторизоваться") Авторизоваться

    .welcome__block
      .welcome__block-inner
        .welcome__welcome

          .user
            .user__img-wrap
              img.user__img(src="img/design/avatar.jpg", alt="User")

            .user__headline Константин Давыдов
            .user__title Личный сайт веб разработчика

          ul.social
            li.social__item.social__item_vk
              a.social__link(href="#", title="Vkontakte" target="_blank")
                span.social__title Vkontakte
                include ../svg/vk.jade

            li.social__item.social__item_gh
              a.social__link(href="#", title="Github" target="_blank")
                span.social__title Github
                include ../svg/github.jade

            li.social__item.social__item_ig
              a.social__link(href="#", title="Instagram" target="_blank")
                span.social__title Instagram
                include ../svg/in.jade

          .welcome__menu
            ul.welcome__menu-inner
              li.welcome__menu-item
                a.welcome__menu-link(href="works.html", title="") Мои работы

              li.welcome__menu-item
                a.welcome__menu-link(href="about.html", title="") Обо мне

              li.welcome__menu-item
                a.welcome__menu-link(href="blog.html", title="") Блог

        .welcome__login
          .welcome__login-title Авторизуйтесь

          .welcome__form
            form.form
              .form__row
                .form__input-ico
                  .form__input-ico-img
                    include ../svg/login.jade
                input.form__input(type="text", placeholder="Логин")

              .form__row
                .form__input-ico
                  .form__input-ico-img
                    include ../svg/password.jade
                input.form__input(type="text", placeholder="Пароль")

              .form__checkbox-wrap
                input.form__checkbox#i-am-human(type="checkbox")
                label.form__label.form__label_check(for="i-am-human")
                  div.form__label-text Я человек

              .form__sure-text Вы точно не робот?

              .form__radio-btn-wrap
                input.form__radio-btn#human-yes(type="radio", name="human-choose")
                label.form__label-radio(for="human-yes") Да

                input.form__radio-btn#human-no(type="radio", name="human-choose")
                label.form__label-radio(for="human-no") Не уверен

          .welcome__menu
            ul.welcome__menu-inner
              li.welcome__menu-item.js-flipped-front
                a.welcome__menu-link(href="#", title="На главную") На главную

              li.welcome__menu-item
                a.welcome__menu-link(href="#", title="Войти") Войти

  .copyright
    span.copyright__name &copy; Константин Давыдов
    span.copyright__create создано с любовью в LoftSchool
    span.copyright__year 2016