extends ../layouts/layout.jade

block title
  title Главная

block content

  include ../common/preloader.jade

  .wrapper.welcome

    .welcome__btn-wrap
      a.welcome__btn(href="javascript:void(0)", title="Авторизоваться") Авторизоваться

    .welcome__block
      .welcome__block-inner
        .welcome__welcome

          .user
            .user__img-wrap
              img.user__img(src="img/design/avatar.jpg", alt="User")

            .user__headline Константин Давыдов
            .user__title Личный сайт веб разработчика

          ul.social
            li.social__item.social__item_vk
              a.social__link(href="#", title="Vkontakte" target="_blank")
                span.social__title Vkontakte
                svg.social__icon
                  use(xlink:href='img/sprite.svg#vk')

            li.social__item.social__item_gh
              a.social__link(href="#", title="Github" target="_blank")
                span.social__title Github
                svg.social__icon
                  use(xlink:href='img/sprite.svg#github')

            li.social__item.social__item_ig
              a.social__link(href="#", title="LinkedIn" target="_blank")
                span.social__title LinkedIn
                svg.social__icon
                  use(xlink:href='img/sprite.svg#in')

          .welcome__menu
            ul.welcome__menu-inner
              li.welcome__menu-item
                a.welcome__menu-link(href="works.html", title="") Мои работы

              li.welcome__menu-item
                a.welcome__menu-link(href="about.html", title="") Обо мне

              li.welcome__menu-item
                a.welcome__menu-link(href="blog.html", title="") Блог

        .welcome__login
          .welcome__login-title Авторизуйтесь

          .welcome__form
            form.form
              .form__row
                .form__input-ico
                  svg.form__input-ico-img
                    use(xlink:href='img/sprite.svg#login')
                input.form__input(type="text", placeholder="Логин")

              .form__row
                .form__input-ico
                  .form__input-ico-img
                    svg.form__input-ico-img
                      use(xlink:href='img/sprite.svg#password')
                input.form__input(type="text", placeholder="Пароль")

              .form__checkbox-wrap
                input.form__checkbox#i-am-human(type="checkbox")
                label.form__label.form__label_check(for="i-am-human")
                  div.form__label-text Я человек

              .form__sure-text Вы точно не робот?

              .form__radio-btn-wrap
                input.form__radio-btn#human-yes(type="radio", name="human-choose")
                label.form__label-radio(for="human-yes") Да

                input.form__radio-btn#human-no(type="radio", name="human-choose")
                label.form__label-radio(for="human-no") Не уверен

          .welcome__menu
            ul.welcome__menu-inner
              li.welcome__menu-item.js-flipped-front
                a.welcome__menu-link(href="#", title="На главную") На главную

              li.welcome__menu-item
                a.welcome__menu-link(href="#", title="Войти") Войти

  .copyright
    span.copyright__name &copy; Константин Давыдов
    span.copyright__create создано с любовью в LoftSchool
    span.copyright__year 2016