extends ../layouts/layout.jade

block title
  title Мои работы

block content

  include ../common/preloader.jade

  .wrapper

    nav.menu
      ul.menu__inner
        li.menu__item.menu__item_active
          a.menu__link(href="works.html", title="Мои работы") Мои работы

        li.menu__item
          a.menu__link(href="blog.html", title="Блог") Блог

        li.menu__item
          a.menu__link(href="about.html", title="Обо мне") Обо мне

        li.menu__item
          a.menu__link(href="index.html", title="Авторизация") Авторизация

    header.header.header_dark

      .header__top
        ul.social.header__social
          li.social__item.social__item_vk
            a.social__link(href="#", title="Vkontakte" target="_blank")
              span.social__title Vkontakte
              svg.social__icon
                use(xlink:href='img/sprite.svg#vk')

          li.social__item.social__item_gh
            a.social__link(href="#", title="Github" target="_blank")
              span.social__title Github
              svg.social__icon
                use(xlink:href='img/sprite.svg#github')

          li.social__item.social__item_ig
            a.social__link(href="#", title="LinkedIn" target="_blank")
              span.social__title LinkedIn
              svg.social__icon
                use(xlink:href='img/sprite.svg#in')

        button.header__menu.js-menu-toggle
          .header__menu-line
          .header__menu-line
          .header__menu-line

      .header__user.user
        svg.user__svg
          use(xlink:href='img/sprite.svg#figure')

        .user__img-wrap
          img.user__img(src="img/design/avatar.jpg", alt="User")

        .user__headline Константин Давыдов
        .user__title Личный сайт веб разработчика

      button.header__button(type="button")
        svg.header__button-bg
          use(xlink:href='img/sprite.svg#arrow_down')

      .header__bottom.header__bottom_dark
        svg.header__bottom-bg
          use(xlink:href='img/sprite.svg#header_bottom')
        .headline.headline_dark
          .headline__inner Мои работы
          svg.headline__bg
            use(xlink:href='img/sprite.svg#figure_2')

    .works
      .works__inner
        .works__preview
          ul.works__preview-inner
            li.works__preview-item
              img.works__preview-img(src="img/design/works.png")
            li.works__preview-item
              img.works__preview-img(src="img/design/works.png")
            li.works__preview-item
              img.works__preview-img(src="img/design/works.png")
            li.works__preview-item
              img.works__preview-img(src="img/design/works.png")

        .works__info
          ul.works__info-inner
            li.works__info-item
              .headline-small.works__info-headline Сайт школы онлайн Образования 1
              .works__tags html, css, javascript
              a.works__site-link(href="#", target="_blank")
                .works__site-link-ico
                  svg.works__site-link-svg
                    use(xlink:href='img/sprite.svg#link_ico')
                .works__site-link-text Посмотреть сайт

            li.works__info-item
              .headline-small.works__info-headline Сайт школы онлайн Образования 2
              .works__tags html, css, javascript
              a.works__site-link(href="#", target="_blank")
                .works__site-link-ico
                  svg.works__site-link-svg
                    use(xlink:href='img/sprite.svg#link_ico')
                .works__site-link-text Посмотреть сайт

            li.works__info-item
              .headline-small.works__info-headline Сайт школы онлайн Образования 3
              .works__tags html, css, javascript
              a.works__site-link(href="#", target="_blank")
                .works__site-link-ico
                  svg.works__site-link-svg
                    use(xlink:href='img/sprite.svg#link_ico')
                .works__site-link-text Посмотреть сайт

            li.works__info-item
              .headline-small.works__info-headline Сайт школы онлайн Образования 4
              .works__tags html, css, javascript
              a.works__site-link(href="#", target="_blank")
                .works__site-link-ico
                  svg.works__site-link-svg
                    use(xlink:href='img/sprite.svg#link_ico')
                .works__site-link-text Посмотреть сайт

        .works__btns
          ul.works__btn.works__btn_down
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            a.works__btn-link(href="#")
              .works__btn-ico
                svg.works__btn-svg
                  use(xlink:href='img/sprite.svg#arrow_down')

          ul.works__btn.works__btn_up
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            li.works__btn-item
              img.works__btn-img(src="img/design/works.png")
            a.works__btn-link(href="#")
              .works__btn-ico
                svg.works__btn-svg
                  use(xlink:href='img/sprite.svg#arrow_up')

      .works__about
        .headline.headline_simple
          .headline__inner Что обо мне говорят
          svg.headline__bg
            use(xlink:href='img/sprite.svg#figure_3')

        .works__quotes
          .works__quote
            .works__quote-img-wrap
              img.works__quote-img(src="img/design/quote_1.jpg")
            blackquote.works__blockquote
              .works__quote-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              svg.works__quote-svg
                use(xlink:href='img/sprite.svg#quote')
            .works__quote-name Ковальчук Дмитрий
            .works__quote-title — основатель Loftschool

          .works__quote
            .works__quote-img-wrap
              img.works__quote-img(src="img/design/quote_2.jpg")
            blackquote.works__blockquote
              .works__quote-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
              svg.works__quote-svg
                use(xlink:href='img/sprite.svg#quote')
            .works__quote-name Зар Захаров
            .works__quote-title — главный преподаватель

        .works__form
          form.form.form_works(action="")
            .headline-small.works__headline-small Связаться со мной
            .form__row
              input.form__input(type="text" placeholder="Имя")
            .form__row
              input.form__input(type="text" placeholder="Email")
            .form__row
              textarea.form__textarea(placeholder="Ваше сообщение")
            .form__row.form__row_buttons
              input.form__submit(type="submit" value="Отправить")
              input.form__reset(type="reset" value="Очистить")

          .works__blur

        a.button-scrolltop(href="#")
          svg.header__button-bg
            use(xlink:href='img/sprite.svg#arrow_up')

  include ../common/footer.jade