.footer
	div.footer__copyright
		span.footer__copyright-name &copy; Константин Давыдов
		span.footer__copyright-create создано с любовью в LoftSchool
		span.footer__copyright-year 2016

script(src='bower/jquery/dist/jquery.min.js')
script(src='js/scripts.js')