.preloader
  .preloader__inner
    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 53 53', enable-background='new 0 0 52.586 63.73', xml:space='preserve')
      circle.circle(fill='none', stroke-width='3', stroke-miterlimit='10', cx='26.293', cy='26.438', r='25')
    .preloader__percent 0
    .preloader__dot