script(src='bower/jquery/dist/jquery.min.js')
script(src='js/index.js')
script(src='js/menu.js')
script(src='js/blog.js')
script(src='js/about.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBE7B8Qe5n8dwoLjXmVKJN3XgcwwahtE-o&callback')