/*
	Sansus Webissimo Regular
*/

@font-face {
	font-family: 'Sansus Webissimo Regular';
	src: url('sansus-webissimo-regular.eot');
	src: url('sansus-webissimo-regular.eot?#iefix') format('embedded-opentype'),
	url('sansus-webissimo-regular.woff2') format('woff2'),
	url('sansus-webissimo-regular.woff') format('woff'),
	url('sansus-webissimo-regular.ttf') format('truetype'),
	url('sansus-webissimo-regular.svg#sansus_webissimoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
	Roboto Light
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-light.eot');
	src: url('roboto-light.eot?#iefix') format('embedded-opentype'),
	url('roboto-light.woff2') format('woff2'),
	url('roboto-light.woff') format('woff'),
	url('roboto-light.ttf') format('truetype'),
	url('roboto-light.svg#robotolight') format('svg');
	font-weight: 200;
	font-style: normal;
}

/*
	Roboto Light Italic
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-lightitalic.eot');
	src: url('roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
	url('roboto-lightitalic.woff2') format('woff2'),
	url('roboto-lightitalic.woff') format('woff'),
	url('roboto-lightitalic.ttf') format('truetype'),
	url('roboto-lightitalic.svg#robotolight_italic') format('svg');
	font-weight: 200;
	font-style: italic;
}

/*
	Roboto Regular
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-regular.eot');
	src: url('roboto-regular.eot?#iefix') format('embedded-opentype'),
	url('roboto-regular.woff2') format('woff2'),
	url('roboto-regular.woff') format('woff'),
	url('roboto-regular.ttf') format('truetype'),
	url('roboto-regular.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
	Roboto Italic
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-italic.eot');
	src: url('roboto-italic.eot?#iefix') format('embedded-opentype'),
	url('roboto-italic.woff2') format('woff2'),
	url('roboto-italic.woff') format('woff'),
	url('roboto-italic.ttf') format('truetype'),
	url('roboto-italic.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/*
	Roboto Medium
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-medium.eot');
	src: url('roboto-medium.eot?#iefix') format('embedded-opentype'),
	url('roboto-medium.woff2') format('woff2'),
	url('roboto-medium.woff') format('woff'),
	url('roboto-medium.ttf') format('truetype'),
	url('roboto-medium.svg#robotomedium') format('svg');
	font-weight: 500;
	font-style: normal;

}

/*
	Roboto Medium Italic
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-mediumitalic.eot');
	src: url('roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
	url('roboto-mediumitalic.woff2') format('woff2'),
	url('roboto-mediumitalic.woff') format('woff'),
	url('roboto-mediumitalic.ttf') format('truetype'),
	url('roboto-mediumitalic.svg#robotomedium_italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

/*
	Roboto Bold
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-bold.eot');
	src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
	url('roboto-bold.woff2') format('woff2'),
	url('roboto-bold.woff') format('woff'),
	url('roboto-bold.ttf') format('truetype'),
	url('roboto-bold.svg#robotobold') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*
	Roboto Bold Italic
*/

@font-face {
	font-family: 'Roboto';
	src: url('roboto-bolditalic.eot');
	src: url('roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
	url('roboto-bolditalic.woff2') format('woff2'),
	url('roboto-bolditalic.woff') format('woff'),
	url('roboto-bolditalic.ttf') format('truetype'),
	url('roboto-bolditalic.svg#robotobold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}
